

<div class="card">
  <img src=" " alt=" " style="width:100%">
  <div class="container">
    <h4><b>{{group_name}}</b></h4>
    <p>view group</p>
  </div>
</div>

<div class="chip">
  <img src="img_avatar.jpg" alt="Person" width="96" height="96">
  {{user_name}}
</div>