<head>
     <link href="/Main/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
     <link href="./css/style.css" rel="stylesheet">
    </head>
  


{{!-- <div data-id={{user.id}} data-activity={{user.activity}}> --}}

</div>
<div class="card hide" id="skating" style="width: 18rem;">
  <img src="https://thejuliahotel.com/wp-content/uploads/2019/08/cycling-miami.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Skating</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Friday Night Skate Group</li>
  </ul>
</div>
</div>

<div class="card hide" id="biking" style="width: 18rem;">
  <img src="https://thejuliahotel.com/wp-content/uploads/2019/08/cycling-miami.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Biking</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Sunday Bike to the Beach Group</li>
  </ul>
</div>
</div>

<div class="card" id="basketball" style="width: 18rem;">
  <img href="." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Basketball</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Saturday Morning Basketball Group</li>
</div>
{{#each allUsers as |users|}}
{{users.firstName}}{{users.email}}
{{/each}}