
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./meditate.css">

    <h1>How long would you like to meditate for?</h1>
    <select id="time-length">
        <option value="120" class="two">2 minutes</option>
        <option value="300" class="five">5 minutes</option>
        <option value="600" class="ten">10 minutes</option>
        <option value="1200" class="twenty">20 minutes</option>
    </select>
    <h2>What would you like to meditate on today?</h2>
    <select id="meditation-type">
        <option value="Acceptance" class="acceptance">Acceptance</option>
        <option value="Patience" class="patience">Patience</option>
        <option value="Balance" class="balance">Balance</option>
        <option value="Anxiety" class="anxiety">Anxiety</option>
        <option value="Stress" class="stress">Stress</option>
    </select>
    <button type="button" id="meditate">Meditate</button>
    <h1>Accept what IS, let go of what WAS, and have faith in what WILL BE.</H1>
    <div id="app"></div>

<script src="index.js"></script>